@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/**********文章内容**********/
.post {
    width: 100%;
}

.post-title {
    margin: 35px 0 25px;
    text-align: center
    font-family: "Annie Use Your Telescope", cursive;
}

.post ul {
    margin: 10px 5px 20px 25px;
}

.post img {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}